$theme-color: #1399f8;   //主题颜色
$hover-color: #1581E6;   //主题颜色hover/active/导航展开等
$error-color: #F5222D;  //错误/失败 按钮或提示
$success-color: #52C41A;  //成功/通过 按钮或提示
$warn-color: #FAAD14;  //成功/通过 按钮或提示
$default-text-color: #424959;  //所有字体默认颜色
$header-user-operation-color: #5C6C80;  //头部用户操作部分字体颜色
$icon-color: #5C6C80;  //图标/部分字体 颜色
$border-color: #EAEEF6; //边框颜色
$tips-text-color: #EAEEF6; //次要文字、提示性信息、输入框内提示文字等、状态(离线，关闭)等
$main-background-color: #EAEEF6; //内容区域背景颜色
$table-head-background-color: #F9FAFB; //表格头部背景颜色
// $table-hover-background-color: #1890FF; //表格hover背景颜色
$table-hover-background-color: #ecf5ff; //表格hover背景颜色-原色


