$theme-color: var(--el-color-primary); //主题颜色
$hover-color: var(--el-color-primary); //主题颜色hover/active/导航展开等
$error-color: #f5222d; //错误/失败 按钮或提示
$success-color: #52c41a; //成功/通过 按钮或提示
$warn-color: #faad14; //成功/通过 按钮或提示
$default-text-color: #424959; //所有字体默认颜色
$header-user-operation-color: #5c6c80; //头部用户操作部分字体颜色
$icon-color: #5c6c80; //图标/部分字体 颜色
$border-color: #eaeef6; //边框颜色
$tips-text-color: #eaeef6; //次要文字、提示性信息、输入框内提示文字等、状态(离线，关闭)等
$main-background-color: #f5f7f9; //内容区域背景颜色
$table-head-background-color: #f9fafb; //表格头部背景颜色
// $table-hover-background-color: #1890FF; //表格hover背景颜色
$table-hover-background-color: #ecf5ff; //表格hover背景颜色-原色
